p , h2 {
	color: navy;
}

p.info {
	font-size: small; background-color:#dfdfdf;
}

h1 {
	color: white;
	text-shadow: navy 2px 5px;
}

h2 {
	 
	border: solid 1px white;
	
	margin: 5px;
	background-color:#ffffff;
}


div#zentai {
	
	display: flex;
	display: grid;                      
    grid-template-columns: 1fr 1fr; 
	flex-direction: row;
	width: 1024px;
}

div#zentai > div {
	
	margin-left: 5px;
	background-color: #ffefaf;
}
